@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/* FOR VIDEO PLAYER */
.vidcontainer {
  max-width: 100%;
  margin: auto;
  border-radius: 2rem;
  border: 0.25rem solid rgba(0, 0, 0, 0.089);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;

  overflow: hidden;
}

.Flexible-container iframe,   
        .Flexible-container object,
        .Flexible-container video, /* for html5 video embeds */
        .Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.explaintext {
  text-align: center;
}

.intro_white {
  background-color: white;
}

.center_text {
  margin: auto;
  display: flex;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* FOR BLOG POSTS */

.band {
  font-family: "Inconsolata";
  width: 82%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}

/* SECTION DONATE */

.donatesec {
  color: #f0f9ff;
  background-image: linear-gradient(to bottom right, #ee0000, #ff6565);
}
